BASE_URL=http://localhost:5000
FIREBASE_SECRET_KEY=

### POLE EMPLOI
POLE_EMPLOI_CLIENT_ID=id
POLE_EMPLOI_CLIENT_SECRET=secret
POLE_EMPLOI_SCOPE=scope

OIDC_ISSUER_URL=https://pa-auth-staging.osc-secnum-fr1.scalingo.io/auth/realms/pass-emploi

API_KEY_KEYCLOAK=ceci-est-une-api-key

MILO_API_URL=
MILO_DOSSIER_API_KEY=

IN_MEMORY=

IMMERSION_API_URL=

