---
version: '3.7'

volumes:
  api-db-data:

services:
  apidb:
    image: postgres:14-alpine
    container_name: apidb
    ports:
      - "55432:5432"
    environment:
      POSTGRES_USER: passemploi
      POSTGRES_PASSWORD: passemploi
      POSTGRES_DB: passemploidb
    volumes:
      - api-db-data:/var/lib/postgresql
        
  testdb:
    image: postgres:14-alpine
    container_name: testdb
    ports:
      - "56432:5432"
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test